{# templates/module/details.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
	<div
		class="container-fluid">

		<!-- Page Heading -->
		<h1 class="h3 mb-2 text-gray-800">Détails du Module</h1>

		<!-- Content Row -->
		<div class="row">
			<div class="col-lg-6">

				{% if module.status == 'inactif' %}
					<div class="card mb-4 py-3 border-bottom-danger">
					{% else %}
						<div class="card mb-4 py-3 border-bottom-primary">
						{% endif %}


						<div class="card-body">
							<h2 class="h4 text-gray-800">Nom :</h2>
							<p class="text-gray-900">{{ module.name }}</p>
							<h2 class="h4 text-gray-800">Numéro de Série :</h2>
							<p class="text-gray-900">{{ module.serialNumber }}</p>
							<h2 class="h4 text-gray-800">État :</h2>
							<p class="text-gray-900">{{ module.status }}</p>
							<a href="{{ path('module_turn_off_random', {'id': module.id}) }}" class="btn btn-danger">
								Changer l'état aléatoirement
							</a>
							<a href="{{ path('module_luminosity', {'id': module.id}) }}" class="btn btn-primary btn-icon-split">
								<span class="icon text-white-50">
									<i class="fas fa-chart-area"></i>
								</span>
								<span class="text">Voir les données de luminosité</span>
							</a>
						</div>
					</div>
				</div>
			{% endblock %}
